openapi: 3.0.3
info:
  title: Copper Developer Activities Companies API
  version: '1.0'
  description: Copper is a CRM platform built natively for Google Workspace. The Copper Developer API is a RESTful JSON API providing programmatic access to people, companies, leads, opportunities, projects, tasks, activities, and webhooks.
  contact:
    name: Copper Support
    url: https://www.copper.com/contact-us
  license:
    name: Proprietary
    url: https://www.copper.com/terms-of-service
servers:
- url: https://api.copper.com/developer_api/v1
  description: Copper Developer API production server
security:
- PWAccessToken: []
  PWApplication: []
  PWUserEmail: []
tags:
- name: Companies
  description: Company records management
paths:
  /companies/search:
    post:
      operationId: searchCompanies
      summary: Search Companies
      description: Search and list Company records using filter criteria.
      tags:
      - Companies
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanySearchRequest'
      responses:
        '200':
          description: List of matching Company records
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Company'
  /companies:
    post:
      operationId: createCompany
      summary: Create a Company
      description: Create a new Company record in Copper.
      tags:
      - Companies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Company'
      responses:
        '200':
          description: Created Company record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
  /companies/{id}:
    get:
      operationId: getCompany
      summary: Get a Company
      description: Retrieve a single Company record by ID.
      tags:
      - Companies
      parameters:
      - $ref: '#/components/parameters/IdPathParam'
      responses:
        '200':
          description: Company record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
    put:
      operationId: updateCompany
      summary: Update a Company
      tags:
      - Companies
      parameters:
      - $ref: '#/components/parameters/IdPathParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Company'
      responses:
        '200':
          description: Updated Company record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
    delete:
      operationId: deleteCompany
      summary: Delete a Company
      tags:
      - Companies
      parameters:
      - $ref: '#/components/parameters/IdPathParam'
      responses:
        '200':
          description: Deletion confirmation
components:
  schemas:
    Address:
      type: object
      properties:
        street:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        state:
          type: string
          nullable: true
        postal_code:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
    CustomFieldValue:
      type: object
      properties:
        custom_field_definition_id:
          type: integer
        value:
          oneOf:
          - type: string
          - type: number
          - type: integer
          - type: boolean
          - type: array
            items:
              type: integer
          - type: 'null'
    Company:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        assignee_id:
          type: integer
          nullable: true
        contact_type_id:
          type: integer
        details:
          type: string
          nullable: true
        email_domain:
          type: string
        phone_numbers:
          type: array
          items:
            type: object
        socials:
          type: array
          items:
            type: object
        websites:
          type: array
          items:
            type: object
        address:
          $ref: '#/components/schemas/Address'
        tags:
          type: array
          items:
            type: string
        custom_fields:
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldValue'
        date_created:
          type: integer
        date_modified:
          type: integer
    CompanySearchRequest:
      type: object
      properties:
        page_number:
          type: integer
        page_size:
          type: integer
        sort_by:
          type: string
        name:
          type: string
        assignee_ids:
          type: array
          items:
            type: integer
        tags:
          type: array
          items:
            type: string
  parameters:
    IdPathParam:
      name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
      description: The unique resource identifier
  securitySchemes:
    PWAccessToken:
      type: apiKey
      in: header
      name: X-PW-AccessToken
      description: API access token for the user
    PWApplication:
      type: apiKey
      in: header
      name: X-PW-Application
      description: Application identifier, set to 'developer_api'
    PWUserEmail:
      type: apiKey
      in: header
      name: X-PW-UserEmail
      description: Email address of the API token owner
