openapi: 3.0.3
info:
  title: Copper Developer Activities API
  version: '1.0'
  description: Copper is a CRM platform built natively for Google Workspace. The Copper Developer API is a RESTful JSON API providing programmatic access to people, companies, leads, opportunities, projects, tasks, activities, and webhooks.
  contact:
    name: Copper Support
    url: https://www.copper.com/contact-us
  license:
    name: Proprietary
    url: https://www.copper.com/terms-of-service
servers:
- url: https://api.copper.com/developer_api/v1
  description: Copper Developer API production server
security:
- PWAccessToken: []
  PWApplication: []
  PWUserEmail: []
tags:
- name: Activities
  description: Activity log entries
paths:
  /activities:
    post:
      operationId: createActivity
      summary: Create an Activity
      tags:
      - Activities
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Activity'
      responses:
        '200':
          description: Created Activity record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
  /activities/search:
    post:
      operationId: searchActivities
      summary: Search Activities
      tags:
      - Activities
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: List of matching Activity records
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Activity'
components:
  schemas:
    Activity:
      type: object
      properties:
        id:
          type: integer
          format: int64
        parent:
          type: object
          properties:
            id:
              type: integer
            type:
              type: string
              enum:
              - lead
              - person
              - company
              - opportunity
              - project
              - task
        type:
          type: object
          properties:
            id:
              type: integer
            category:
              type: string
        details:
          type: string
        user_id:
          type: integer
        activity_date:
          type: integer
        old_value:
          type: object
          nullable: true
        new_value:
          type: object
          nullable: true
        date_created:
          type: integer
        date_modified:
          type: integer
  securitySchemes:
    PWAccessToken:
      type: apiKey
      in: header
      name: X-PW-AccessToken
      description: API access token for the user
    PWApplication:
      type: apiKey
      in: header
      name: X-PW-Application
      description: Application identifier, set to 'developer_api'
    PWUserEmail:
      type: apiKey
      in: header
      name: X-PW-UserEmail
      description: Email address of the API token owner
