openapi: 3.0.3
info:
  title: Copper Developer Activities Tasks API
  version: '1.0'
  description: Copper is a CRM platform built natively for Google Workspace. The Copper Developer API is a RESTful JSON API providing programmatic access to people, companies, leads, opportunities, projects, tasks, activities, and webhooks.
  contact:
    name: Copper Support
    url: https://www.copper.com/contact-us
  license:
    name: Proprietary
    url: https://www.copper.com/terms-of-service
servers:
- url: https://api.copper.com/developer_api/v1
  description: Copper Developer API production server
security:
- PWAccessToken: []
  PWApplication: []
  PWUserEmail: []
tags:
- name: Tasks
  description: Task records management
paths:
  /tasks/search:
    post:
      operationId: searchTasks
      summary: Search Tasks
      tags:
      - Tasks
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: List of Task records
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'
  /tasks:
    post:
      operationId: createTask
      summary: Create a Task
      tags:
      - Tasks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Task'
      responses:
        '200':
          description: Created Task record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
  /tasks/{id}:
    get:
      operationId: getTask
      summary: Get a Task
      tags:
      - Tasks
      parameters:
      - $ref: '#/components/parameters/IdPathParam'
      responses:
        '200':
          description: Task record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
    put:
      operationId: updateTask
      summary: Update a Task
      tags:
      - Tasks
      parameters:
      - $ref: '#/components/parameters/IdPathParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Task'
      responses:
        '200':
          description: Updated Task record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
    delete:
      operationId: deleteTask
      summary: Delete a Task
      tags:
      - Tasks
      parameters:
      - $ref: '#/components/parameters/IdPathParam'
      responses:
        '200':
          description: Deletion confirmation
components:
  parameters:
    IdPathParam:
      name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
      description: The unique resource identifier
  schemas:
    Task:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        related_resource:
          type: object
          properties:
            id:
              type: integer
            type:
              type: string
        assignee_id:
          type: integer
          nullable: true
        due_date:
          type: integer
          nullable: true
        reminder_date:
          type: integer
          nullable: true
        completed_date:
          type: integer
          nullable: true
        priority:
          type: string
          enum:
          - None
          - High
        status:
          type: string
          enum:
          - Open
          - Completed
        details:
          type: string
          nullable: true
        tags:
          type: array
          items:
            type: string
        custom_fields:
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldValue'
    CustomFieldValue:
      type: object
      properties:
        custom_field_definition_id:
          type: integer
        value:
          oneOf:
          - type: string
          - type: number
          - type: integer
          - type: boolean
          - type: array
            items:
              type: integer
          - type: 'null'
  securitySchemes:
    PWAccessToken:
      type: apiKey
      in: header
      name: X-PW-AccessToken
      description: API access token for the user
    PWApplication:
      type: apiKey
      in: header
      name: X-PW-Application
      description: Application identifier, set to 'developer_api'
    PWUserEmail:
      type: apiKey
      in: header
      name: X-PW-UserEmail
      description: Email address of the API token owner
