openapi: 3.0.3
info:
  title: Copper Developer Activities Webhooks API
  version: '1.0'
  description: Copper is a CRM platform built natively for Google Workspace. The Copper Developer API is a RESTful JSON API providing programmatic access to people, companies, leads, opportunities, projects, tasks, activities, and webhooks.
  contact:
    name: Copper Support
    url: https://www.copper.com/contact-us
  license:
    name: Proprietary
    url: https://www.copper.com/terms-of-service
servers:
- url: https://api.copper.com/developer_api/v1
  description: Copper Developer API production server
security:
- PWAccessToken: []
  PWApplication: []
  PWUserEmail: []
tags:
- name: Webhooks
  description: Event subscription webhooks
paths:
  /webhooks:
    get:
      operationId: listWebhooks
      summary: List Webhooks
      tags:
      - Webhooks
      responses:
        '200':
          description: List of subscribed webhooks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Webhook'
    post:
      operationId: createWebhook
      summary: Create a Webhook subscription
      tags:
      - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Webhook'
      responses:
        '200':
          description: Created webhook subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
  /webhooks/{id}:
    delete:
      operationId: deleteWebhook
      summary: Delete a Webhook
      tags:
      - Webhooks
      parameters:
      - $ref: '#/components/parameters/IdPathParam'
      responses:
        '200':
          description: Deletion confirmation
components:
  parameters:
    IdPathParam:
      name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
      description: The unique resource identifier
  schemas:
    Webhook:
      type: object
      properties:
        id:
          type: integer
          format: int64
        target:
          type: string
          format: uri
        event:
          type: string
          enum:
          - new
          - update
          - delete
        type:
          type: string
          enum:
          - person
          - company
          - lead
          - opportunity
          - project
          - task
        secret:
          type: object
          properties:
            secret:
              type: string
  securitySchemes:
    PWAccessToken:
      type: apiKey
      in: header
      name: X-PW-AccessToken
      description: API access token for the user
    PWApplication:
      type: apiKey
      in: header
      name: X-PW-Application
      description: Application identifier, set to 'developer_api'
    PWUserEmail:
      type: apiKey
      in: header
      name: X-PW-UserEmail
      description: Email address of the API token owner
